
# install db:
# mysql> create database msf;
# mysql> GRANT ALL PRIVILEGES ON msf.* TO 'msf'@'%' IDENTIFIED BY 'msf' WITH GRANT OPTION;
# mysql> flush privileges;

development: 
  adapter: mysql
  host: localhost
  port: 3306
  encoding: utf8
  database: fidius
  username: msf
  password: passwordverydifficulttoguessed
  socket: /tmp/mysql.sock
