databases:
  basic: &default
    adapter: mysql
    host: localhost
    port: 3306
    encoding: utf8
    username: msf
    password: passwordverydifficulttoguessed
    socket: /tmp/mysql.sock

  development: 
    database: fidius
    <<: *default
  simulator: 
    database: fidius
    <<: *default

metasploit:
  host: localhost
  port: 56606
  path: /path/to/msf
xmlrpc:
  host: localhost
  port: 8080
xmlrpc-simulator:
  host: localhost
  port: 8080
prelude:
  host: 10.20.20.1
